.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
